@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
	name: "electrocentr";
	default: true;
	color-scheme: light;

	--color-primary: oklch(58.8% 0.17 248);
	--color-primary-content: oklch(98% 0.01 248);

	--color-secondary: oklch(63.5% 0.21 35);
	--color-secondary-content: oklch(98% 0.01 35);

	--color-accent: oklch(27% 0.05 260);
	--color-accent-content: oklch(98% 0.01 260);

	--color-neutral: oklch(27% 0.05 260);
	--color-neutral-content: oklch(98% 0.01 260);

	--color-base-100: oklch(100% 0 0);
	--color-base-200: oklch(97% 0.005 250);
	--color-base-300: oklch(93% 0.01 250);
	--color-base-content: oklch(27% 0.05 260);

	--color-info: oklch(58.8% 0.17 248);
	--color-success: oklch(65% 0.17 150);
	--color-warning: oklch(75% 0.15 80);
	--color-error: oklch(55% 0.2 25);

	--rounded-box: 12px;
	--rounded-btn: 12px;
	--rounded-badge: 999px;

	--animation-btn: 0.2s;
	--animation-input: 0.2s;
}

@layer base {
	html {
		font-family: "Inter", sans-serif;
		-webkit-tap-highlight-color: transparent;
	}
}
